class  {
    'ispconfig':
    $mysql_root_passwd      => 'test',
    $ssl_country                => 'TEST',
    $ssl_organization           => 'Test',
    $ssl_commonname         => 'Test',
    $ssl_state                  => 'Test',
    $ssl_locality                   => 'Test',
    $ssl_unit                   => 'Test',
    $ssl_altnames               => ['test@test.com'],
    $ssl_email                  => 'test@test.com',
    $ssl_days                   => 1,
    $ssl_password               => 'test',
    $jailkit_version                => '2.16',
    $php_date_timezone      => 'Test/Test',
    $php_memory_limit           => '64M',
    $php_upload_max_filesize    => '8M',
    $php_post_max_size      => '8M',
 }
